body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    overflow: hidden;
}

.back {
    background-image: url("media/back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 450px;
    transform-style: preserve-3d;
    transform: perspective(1000px);

}

.front {
    background-image: url("media/front.png");
    transform: translateZ(50px);
}